#reviews-wrapper {
  height: var(--review-size);
  overflow: hidden;
  position: relative;
}

.reviews-track {
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: scrollReviews 10s linear infinite;
  min-width: 200%;
}

.reviews-track.paused {
  animation-play-state: paused;
}

@keyframes scrollReviews {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.review-img {
  width:  var(--review-size);
  height: var(--review-size);
  border-radius: 9999px;
  object-fit: cover;
  cursor: pointer;
  transition: transform .3s ease;
}

.review-img:hover {
  transform: scale(1.05);
}

