.gallery-img {
  transition: transform .3s ease;
  cursor: pointer;
  touch-action: manipulation;
}

.gallery-img:hover {
  transform: scale(1.05);
}

#gallery-modal {
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  touch-action: manipulation;
}

#gallery-modal.open {
  opacity: 1;
  pointer-events: auto;
}

#gallery-modal.closing {
  opacity: 0;
  pointer-events: auto;
}

#gallery-modal img {
  transform: scale(0);
  transition: transform .3s ease;
}

#gallery-modal.open img {
  transform: scale(1);
}

#gallery-modal.closing img {
  transform: scale(0);
}
